@font-face {
    font-family: "SF Pro Display";
    src: url(../font/SF-Pro-Display-Bold.woff);
}

@font-face {
    font-family: "SF Pro Display";
    src: url(../font/SF-Pro-Display-Medium.woff);
}

@font-face {
    font-family: "SF Pro Display";
    src: url(../font/SF-Pro-Display-Regular.woff);
}